<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mycloset.mycloset">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".network.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.add.AddActivity" />
        <activity android:name=".ui.setting.SelectActivity" />
        <activity android:name=".ui.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.setting.SelectGuActivity"></activity>
        <activity android:name=".ui.theday.ThedayActivity" />
        <activity android:name=".ui.edit.EditActivity"></activity>
    </application>

</manifest>